/* RESET UTILE */
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

/* LIGHT */
:root {
  --bg: #ffffff;
  --text: #111111;
  --muted: #6b7280;

  --surface: #f7f7f7;
  --border: #e5e7eb;

  --card-bg: #ffffff;
  --card-bd: #eeeeee;

  --btn-bg: #111111;
  --btn-fg: #ffffff;
  --btn-bd: #111111;
  --btn-bg-hover: #ffffff;
  --btn-fg-hover: #111111;
  --badge-bg: #111;
  --badge-text: #fff;
}

/* DARK */
html.dark {
  --bg: #0e0f12; /* BODY */
  --text: #f3f4f6;
  --muted: #9aa0a6;

  --surface: #15181b; /* superfici “secondarie” */
  --border: #262a2f;

  --card-bg: #121417; /* card */
  --card-bd: #262a2f;

  --btn-bg: #f3f4f6; /* bottoni invertiti */
  --btn-fg: #0e0f12;
  --btn-bd: #f3f4f6;
  --btn-bg-hover: transparent;
  --btn-fg-hover: #f3f4f6;
  --badge-bg: #fff;
  --badge-text: #111;
}

html {
  transition: background-color 0.35s, color 0.35s;
}
body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.layout-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 80px; /* altezza fissa dell’header */
}

main {
  flex: 1;
  min-height: calc(100vh - 80px);
}

/* UTILITIES GLOBALI (riusa queste classi/variabili) */
.card {
  background: var(--card-bg);
  border: 1px solid var(--card-bd);
}
.surface {
  background: var(--surface);
}
.border {
  border-color: var(--border);
}
.btn {
  background: var(--btn-bg);
  color: var(--btn-fg);
  border: 2px solid var(--btn-bd);
  transition: background-color 0.15s, color 0.15s, border-color 0.15s,
    transform 0.12s;
}
.btn:hover {
  background: var(--btn-bg-hover);
  color: var(--btn-fg-hover);
}

/*  FORM LOGIN/REGISTER STYLES*/
@keyframes fadeInCard {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeInCard 0.5s ease-out forwards;
}

.form-wrapper {
  max-width: 360px;
  margin: 6rem auto;
  display: grid;
  gap: 0.75rem;
}
.form {
  display: grid;
  gap: 0.5rem;
}
input {
  padding: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.btn-form {
  padding: 0.6rem 0.9rem;
  border-radius: 6px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}
.btn-form:hover {
  background: #333;
}
.btn-form:active {
  transform: scale(0.98);
}
.ok {
  display: grid;
  gap: 0.75rem;
}

@media (max-width: 768px) {
  .nav-links {
    z-index: 1001;
  }
}
